{{ with .Site.Data.footer }}
<footer class="footer pt-xxl-19 pt-8 pb-sm-7 pb-5" id="footer">
  <div class="container-fluid">
    <div class="footer-wrapper">
      <div class="row">
        <div class="col-12 col-lg-4 me-auto order-2 order-lg-1">
          <div class="footer-logo mt-7 mt-md-0">
            <a href="{{.logo_url}}" class="d-inline-flex align-items-center gap-2 text-decoration-none">
              <img src="{{.logo}}" alt="Drishyo Chaya logo" />
              <span class="fw-semibold">Drishyo Chaya</span>
            </a>
            <p class="mb-2 text-white fs-5">
              © Copyright <span>{{ dateFormat "2006" now }}</span> {{.copyright}}
            </p>
            <ul class="list-unstyled mb-4">
              <li class="mb-2 text-white fs-5">{{.address}}</li>
              <li class="mb-2"><a href="tel:{{.phone}}" class="text-white fs-5 text-decoration-none">{{.phone}}</a></li>
              <li><a href="mailto:{{.email}}" class="text-white fs-5 text-decoration-none">{{.email}}</a></li>
            </ul>
          </div>
          <div class="social-icon">
            <ul class="list-unstyled">
              {{ range .social }}
              <li>
                <a href="{{.link}}"> <i class="{{.icon}}"></i> </a>
              </li>
              {{ end }}
            </ul>
          </div>
        </div>
        {{ range .sections }}
        <div class="col-6 col-md-3 col-lg-2 order-1">
          <div class="footer-widget">
            <h3 class="">{{.title}}</h3>
            <ul class="list-unstyled">
              {{ range .links }}
              <li>
                <a href="{{.link}}">{{.text}}</a>
              </li>
              {{ end }}
            </ul>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</footer>
{{ end }}
